.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.App-header {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.App-header h2 {
  padding: 1rem 1.8rem;
  font-size: 4.0rem;
  letter-spacing: -0.08rem;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.container {
  width: 750px;
  margin: 0 auto;
}

header {
  height: 175px;
  display: block;
  background-color: #2b3e50;
}
