.App {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #1f81b9;
  color: #fff;
  height: 150px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.App-intro {
  font-size: large;
}

.container {
  width: 750px;
}
