.Console {
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: left;
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.05);
  height: 300px;
  overflow-y: scroll;
}
