.table {
}

.table-header {
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  padding: .5rem;
}

.table-header-column,
.table-column {
  flex: 1 1 auto;
}

.table-footer {
  margin-top: 1rem;
}

.no-rows {
  color: #c0c0c0;
  font-style: italic;
  text-align: center;
}
