.table {
}

.table-header {
  border-bottom: 2px solid black;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.table-header-column,
.table-column {
  flex: 1 1 50%;
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem 1rem;
}

.table .table-row:nth-child(2n + 1) {
  background-color: rgba(200, 200, 200, 0.3);
}

.table-footer {
  margin-top: 1rem;
}

.no-rows {
  color: #c0c0c0;
  font-style: italic;
  text-align: center;
  margin: 1rem 0;
}
